html, body {
    height: 100%;
}

.current-tree {
    width:                  30rem;
    background-position:    center;
}

.content {
    margin-left:            10%;
    width:                  80%;
    height:                 100%;
    background-position:    center;
    background-size:        cover;
}

.nav.nav-center {
    margin: 0;
    float:  none;
}

.navbar-inner {
    text-align: center;
}

